:root {
  --main-color: #7b3f00;
  --secondary-color: #FFFDD0;
  --text-color: #B87333;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}

h1 {
  background-color: var(--secondary-color);
  margin-bottom: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: var(--secondary-color);
}

#website-presentation {
  background-color: var(--main-color);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#website-presentation h1 {
  margin-bottom: 0;
}

#recipes-section {
  background-color: var(--secondary-color);
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.card {
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 30px;
  height: 40vh;
  width: 43vw;
  margin-left: 10px;
  margin-right: 10px;
}

.box {
  justify-content: space-around;
}

#photos-card {
  text-align: center;
}

#photos-card h3 {
  margin-bottom: 10px;
}

#photos-card img {
  object-fit: contain;
}

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.curves {
  background-image: url("../curves.svg");
}

.gallery {
  background: var(--secondary-color);
}

.gallery-cell {
  width: 100%;
  height: 32vh;
  margin-right: 10px;
  background: var(--secondary-color);
  counter-increment: gallery-cell;
}

img {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 20px;
}

.logo {
  margin-right: 20px;
  width: 65%;
}

.recipes-card {
  background-color: var(--main-color);
  padding: 10px;
  margin-bottom: 10px;
  width: 22vw;
  height: 75vh;
  border-radius: 20px;
  text-align: center;

  align-items: center;
  justify-content: space-between;
}

.recipes-card p {
  color: var(--secondary-color);
}

.recipes-card img {
  height: min-content;
}

.recipes-card h3 {
  color: var(--secondary-color);
  margin: 10px 0;
}

.recipes-card a {
  color: var(--secondary-color);
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  padding: 15px;
  width: 90%;
  border-radius: 20px;
  font-weight: bold;
  transition: .25s;
  text-align: center;
}

.recipes-card a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}